/*------------------------------------*
  MAIN
*------------------------------------*/
html {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;font-size: 16px;
}

body {
    width:960px;
    margin:0 auto;
    line-height:1.5em;
    background: #fefedd;
}


/*------------------------------------*
  TYPE
*------------------------------------*/
/*--- HEADINGS ---*/
h1,h2,h3,h4,h5,h6 {
    font-weight:700;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

h1 {
    font-size:2em;
}

h2 {
    font-size:1.6em;
}

h3 {
    font-size:1.4em;
}

h4 {
    font-size:1.2em;
}

h5,h6 {
    font-size:1em;
}

/*--- PARAGRAPHS ---*/
p {
    margin-bottom:1em;
}

/*------------------------------------*
  TABLE
*------------------------------------*/

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444;
    padding: 0.3em;
}