
/* Using viewport sized typography. Source: https://css-tricks.com/viewport-sized-typography/ */

* {
  box-sizing: border-box; /* makes margin and padding part of the overall width of all elements */
}

/* --------------------------- */

body {
  font-size: 18px;
}

div#wrapper {
  margin: 1em;
}

/*------------------------------------*
  TYPE
*------------------------------------*/
/*--- HEADINGS ---*/
h1,h2,h3,h4,h5,h6 {
    margin-bottom:24px;
    font-weight:700
}

h1 {
    font-size:1.5em;
/* 24px --> 24 ÷ 16 = 1.5 */
    line-height:1em
/* 24px --> 24 ÷ 24 = 1 */
}

h2 {
    font-size:1.375em;
/* 22px --> 22 ÷ 16 = 1.375 */
    line-height:1.0909em
/* 24px --> 24 ÷ 22 = 1.090909(09) */
}

h3 {
    font-size:1.25em;
/* 20px --> 20 ÷ 16 = 1.25 */
    line-height:1.2em
/* 24px --> 24 ÷ 20 = 1.2 */
}

h4 {
    font-size:1.125em;
/* 18px --> 18 ÷ 16 = 1.125 */
    line-height:1.333em
/* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5,h6 {
    font-size:1em;
/* 16px --> 16 ÷ 16 = 1 */
    line-height:1.5em
/* 24px --> 24 ÷ 16 = 1.5 */
}

/*--- PARAGRAPHS ---*/
p {
    margin-bottom:24px
}

p+p {
    text-indent:1em;
    margin-top:-24px
}

/*--- LISTS ---*/
ul,ol {
    margin-bottom:24px
/* Remember, if your magic number is
    different to this, use your own. */
}

ul {
    list-style:square outside
}

ul ul,ol ol {
    margin:0 0 0 60px
}

/*--- QUOTES ---*/
blockquote {
    margin:0 60px 0 45px;
    border-left:5px solid #ccc;
    padding-left:10px;
    text-indent:-.4em
}

blockquote b {
    display:block;
    text-indent:0
}

/*--- LINKS ---*/
a {
    color:#09f;
    text-decoration:none
}

a:hover {
    text-decoration:underline
}

a:active,a:focus {
    position:relative;
    top:1px
}

.read-more:after {
    content:"\0020\00BB"
/* Insert a space then right angled-quote */
}

/* Screens 1000px - 1200px */

@media screen and (min-width: 1200px) {

body {
  font-size: 30px;
  font-size: 3vw;
}
}

@media screen and (min-width: 1000px) {

body {
  font-size: 20px;
  font-size: 2.8571vw;
}
}

@media screen and (min-width: 480px) {

body {
  font-size: 18px;
  font-size: 3.75vw;
}
div#wrapper {
  margin: 1em;
}}
