@charset "utf-8";

/* CSS Document */

* {
  box-sizing: border-box; /* makes margin and padding part of the overall width of all elements */
}

/*------------------------------------*
  MAIN
*------------------------------------*/
html {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  color: #333;
  font-size: 18px;
}

body {
  line-height: 1.4444rem; /* basis = 18*1.4444 = 26px */
  padding-top: 72px;
  background: #fff
}

article {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article:hover {
  background: url(../images/grid.png) center -6px repeat #fff;
  background-size: 960px 26px
}

.left {
  float: left;
}

/*------------------------------------*
  TYPE
*------------------------------------*/

h1, h2, h3, h4, h5, h6, p, blockquote {
  flex: 0 1;
  max-width: 460px;
}

/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 26px;
  font-weight: 700;
  text-align: left;
}

h1 {
  font-size: 1.4444rem;
  /* 26px --> 26 ÷ 18 = 1.4444 */
  line-height: 1.4444rem/* 26px --> 26 ÷ 26 = 1 */
}

h2 {
  font-size: 1.2777rem;
  /* 23px --> 23 ÷ 18 = 1.2777 */
  line-height: 1.4444rem/* 26px --> 26 ÷ 23 = 1.1304 */
}

h3 {
  font-size: 1.1111rem;
  /* 20px --> 20 ÷ 18 = 1.25 */
  line-height: 1.4444rem/* 22.4px --> 24 ÷ 20 = 1.2 */
}

h4 {
  font-size: 1.125rem;
  /* 18px --> 18 ÷ 16 = 1.125 */
  line-height: 1.333em/* 22.4px --> 24 ÷ 18 = 1.3333333(3) */
}

h5, h6 {
  font-size: 1rem;
  /* 16px --> 16 ÷ 16 = 1 */
  line-height: 1.5em/* 22.4px --> 24 ÷ 16 = 1.5 */
}

/*--- PARAGRAPHS ---*/
p {
  margin-bottom: 1.4444rem;
}

p+p {
  text-indent: 1rem;
  margin-top: -1.4444rem;
}

/*--- LISTS ---*/
ul, ol {
  margin-bottom: 22.4px/* Remember, if your magic number is
    different to this, use your own. */
}

ul {
  list-style: square outside
}

ul ul, ol ol {
  margin: 0 0 0 60px
}

/*--- QUOTES ---*/
blockquote {
  margin: 0 60px 0 45px;
  border-left: 5px solid #ccc;
  padding-left: 10px;
  text-indent: -.4em
}

blockquote b {
  display: block;
  text-indent: 0
}

/*--- LINKS ---*/
a {
  color: #09f;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

a:active, a:focus {
  position: relative;
  top: 1px
}

.read-more:after {
  content: "\0020\00BB"/* Insert a space then right angled-quote */
}

/*------------------------------------*
  IMAGES
*------------------------------------*/

img {
 max-width: 100%;
  height: auto;
}

.images {
  flex: 1 1;
  margin-bottom: 1.4444rem;
  width:100%;
  max-width: auto;
  text-align:center;
}

/*--- CAPTIONS ---*/

figcaption {
  font-size: 0.8rem;
  line-height: 1.4444rem;
  text-align: center;
}

#me {
  float: right;
  margin: 0 0 0 20px;
  display: block;
  width: 148px;
  height: auto;
  padding: 5px;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px
}
